@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@100;200;300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme{
    --font-hind: 'Hind Siliguri', sans-serif;
    --color-primary: #FF7235;
    --color-light: #BDBDBD;
}

body{
    color: #292830;
    font-family: 'Hind Siliguri', sans-serif;
}